<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/estoque.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="static/script.js"></script>
<title>Estoque</title>
</head>
<body>

<div class="topo">
    <h2>📦 Sistema de Estoque</h2>
</div>

<div class="container">

    <!-- MENU DE OPÇÕES -->
    <div class="menu">

        <a href="adicionar.html" class="card-btn add">
            ➕<br>ADICIONAR
        </a>

        <a href="retirar.html" class="card-btn remove">
            ➖<br>RETIRAR
        </a>

        <a href="/historico.html" class="card-btn history">
            📋<br>HISTÓRICO
        </a>

        <a href="/sair" class="card-btn logout">
            🚪<br>SAIR
        </a>

        {%if session.tipo == 'admin' %}
        <a href="criar_conta" class="card-btn add">
            👤<br>CRIAR CONTA
        </a>
        {% endif %}

    </div>
<div class="brr-pesquisa">
    <input type="text" id="campo-de-pesquisa" onkeyup="filtrarTabela()" placeholder="🔍 Pesquisar item no estoque...">
</div>
    <!-- TABELA -->
    <div class="tabela-container">
        <table>
            <thead>
                <tr>
                    <th>NOME</th>
                    <th>QTDE</th>
                    <th>RESPONSÁVEL</th>
                    <th>HORÁRIO</th>
                </tr>
            </thead>

            <tbody>
                {% for item in itens %}
                <tr>
                    <td>{{ item.nome }}</td>
                    <td>{{ item.quantidade }}</td>
                    <td>{{ item.responsavel }}</td>
                    <td>{{ item.horario }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

<!-- BARRA DE AÇÕES INFERIOR (RESETAR, EXPORTAR E IMPORTAR CSV NA MESMA LINHA) -->
<div class="rodape-acoes">
    <form id="formReset" action="/resetar_banco" method="POST" style="display: inline-block;">
        <button type="button" onclick="confirmarResetEstoque()" class="btn-reset"> Resetar Estoque</button>
    </form>

    <a href="/exportar_estoque_csv" class="btn-csv-rodape csv">
        Exportar CSV
    </a>

    <form action="/importar_estoque_csv" method="POST" enctype="multipart/form-data" style="display: inline-block; margin: 0;">
        <label class="btn-csv-rodape import" style="cursor: pointer; margin: 0;">
             Importar CSV
            <input type="file" name="arquivo_csv" accept=".csv" onchange="this.form.submit()" style="display: none;">
        </label>
    </form>
</div>
</body>
</html>