<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/estoque.css">
<script src="static/script.js"></script>
<title>Estoque</title>
</head>
<body>

<div class="topo">
    <h2>📦 Sistema de Estoque</h2>
</div>

<div class="container">

    <!-- MENU DE OPÇÕES -->
    <div class="menu">

        <a href="adicionar.html" class="card-btn add">
            ➕<br>ADICIONAR
        </a>

        <a href="retirar.html" class="card-btn remove">
            ➖<br>RETIRAR
        </a>

        <a href="retirados.html" class="card-btn history">
            📋<br>HISTÓRICO
        </a>

    
        <a href="/sair" class="card-btn logout">
            🚪<br>SAIR
        </a>

        <a href="criar_conta" class="card-btn add">
            👤<br>CRIAR CONTA
        </a>

    </div>

    <!-- TABELA -->
    <table>
        <thead>
            <tr>
                <th>NOME</th>
                <th>QTDE</th>
                <th>RESPONSÁVEL</th>
                <th>HORÁRIO</th>
            </tr>
        </thead>

        <tbody>
            {% for item in itens %}
            <tr>
                <td>{{ item.nome }}</td>
                <td>{{ item.quantidade }}</td>
                <td>{{ item.responsavel }}</td>
                <td>{{ item.horario }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<script>
function showToast(msg){
    const t=document.getElementById("toast");
    t.textContent=msg;
    t.classList.add("show");

    setTimeout(()=>t.classList.remove("show"),3000);
}

showToast("Sistema carregado com sucesso!");


</script>

<form action="/resetar_banco" method="POST"
      onsubmit="return confirm('Tem certeza que deseja resetar o estoque?');">
    <button onclick="resetar" class="btn-reset">Resetar Estoque</button>
</form>
</body>
</html>