<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/estoque.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="static/script.js"></script>
<title>Estoque</title>
</head>
<body>

<div class="topo">
    <h2>📦 Sistema de Estoque</h2>
</div>

<div class="container">

    <!-- MENU DE OPÇÕES -->
    <div class="menu">

        <a href="adicionar.html" class="card-btn add">
            ➕<br>ADICIONAR
        </a>

        <a href="retirar.html" class="card-btn remove">
            ➖<br>RETIRAR
        </a>

        <a href="retirados.html" class="card-btn history">
            📋<br>HISTÓRICO
        </a>

        <a href="/exportar_estoque_csv" class="card-btn csv">
            📥<br>EXPORTAR CSV
        </a>

    
        <a href="/sair" class="card-btn logout">
            🚪<br>SAIR
        </a>

        {%if session.tipo == 'admin' %}
        <a href="criar_conta" class="card-btn add">
            👤<br>CRIAR CONTA
        </a>
        {% endif %}

    </div>
<div class="brr-pesquisa">
    <input type="text" id="campo-de-pesquisa" onkeyup="filtrarTabela()" placeholder=" Pesquisar item no estoque...">
</div>
    <!-- TABELA -->
    <table>
        <thead>
            <tr>
                <th>NOME</th>
                <th>QTDE</th>
                <th>RESPONSÁVEL</th>
                <th>HORÁRIO</th>
            </tr>
        </thead>

        <tbody>
            {% for item in itens %}
            <tr>
                <td>{{ item.nome }}</td>
                <td>{{ item.quantidade }}</td>
                <td>{{ item.responsavel }}</td>
                <td>{{ item.horario }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<form id="formReset" action="/resetar_banco" method="POST">
    <button type="button" onclick="confirmarResetEstoque()" class="btn-reset">Resetar Estoque</button>
</form>
</body>
</html>