<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Itens Retirados</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>

    <div class="topo">
        <h1>Itens Retirados do Estoque</h1>
        <img src="static/Sistema-Fiep-Azul.png" height="70px"class="logo">
    </div>

    <div class="container">

        <table>
            <tr>
                <th>ITEM</th>
                <th>QUANTIDADE</th>
                <th>PESSOA</th>
                <th>HORÁRIO</th>
                
            </tr>

            <tr><td>Makita</td><td>1</td><td>Otávio</td><td>7:30</td></tr>
            <tr><td>Furadeiras</td><td>2</td><td>Vinicius</td><td>9:40</td></tr>
            <tr><td>Chave de fenda</td><td>3</td><td>Leonardo</td><td>10:20</td></tr>
            <tr><td>Parafusos</td><td>4</td><td>Yuri</td><td>10:50</td></tr>
            <tr><td>Plástico</td><td>5</td><td>Roger</td><td>11:30</td></tr>
        </table>

        <div class="botoes">

            <button onclick="mudarTema()" id="botaoTema">
                🌙 Modo Escuro
            </button>

            <a href="estoque.html">
                <button>VOLTAR</button>
            </a>

        </div>

    </div>

<script src="static/script.js"></script>
</body>
</html>