<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Histórico de Retiradas</title>

    <link rel="stylesheet" href="static/retirados.css">
</head>

<body>

    <div class="topo">

        <h1>Histórico de Retiradas</h1>

        <img src="static/Sistema-Fiep-Azul.png" class="logo">

    </div>

    <div class="container">

        <!-- Caixa de Itens Retirados -->
        <div class="caixa">
            <h2>➖ Itens Retirados</h2>
            <table>
                <tr>
                    <th>ITEM</th>
                    <th>QUANTIDADE</th>
                    <th>PESSOA</th>
                    <th>HORÁRIO</th>
                </tr>
                {% for retirada in retiradas %}
                <tr>
                    <td>{{ retirada.nome }}</td>
                    <td>{{ retirada.quantidade }}</td>
                    <td>{{ retirada.responsavel }}</td>
                    <td>{{ retirada.data_hora }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!-- Caixa de Itens Adicionados -->
        <div class="caixa">
            <h2>➕ Itens Adicionados</h2>
            <table>
                <tr>
                    <th>ITEM</th>
                    <th>QUANTIDADE</th>
                    <th>PESSOA</th>
                    <th>HORÁRIO</th>
                </tr>
                {% for adicionado in adicionados %}
                <tr>
                    <td>{{ adicionado.nome }}</td>
                    <td>{{ adicionado.quantidade }}</td>
                    <td>{{ adicionado.responsavel }}</td>
                    <td>{{ adicionado.data_hora }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="botoes">

            <a href="estoque.html">
                <button type="button">
                    VOLTAR
                </button>
            </a>

            <a href="/exportar_movimentacoes_csv" style="margin-left: 15px;">
                <button type="button" style="background: linear-gradient(135deg, #1abc9c, #16a085);">
                    EXPORTAR HISTÓRICO CSV
                </button>
            </a>

        </div>

    </div>

<script src="static/script.js"></script>

</body>
</html>