<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retirar do Estoque</title>
    <link rel="stylesheet" href="static/retirar.css">
    <script src="static/script.js"></script>
</head>

<body>

<div class="topo">
    <h2>➖ Retirar do Estoque</h2>
</div>


<form class="container" action="/retirar_item" method="POST">

    <label>Nome do Item</label>
    <input name="item" id="item" type="text" placeholder="Ex: Parafuso" required>

    <label>Quantidade</label>
    <input name="qtd" id="qtd" type="number" placeholder="Ex: 5" required>

    <label>Pessoa que retirou</label>
    <input name="pessoa" id="pessoa" type="text" placeholder="Ex: João" required>

    <label>Horário</label>
    <input name="hora" id="hora" type="time" required>

    <button class="btn-retirar" type="submit">Confirmar Retirada</button>

    <a href="estoque.html">
    <button class="btn-voltar" type="button">⬅ Voltar ao Estoque</button>
</a>

</form>

<div id="toast" class="toast"></div>
</body>
</html>